<html lang='en'>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='icon' href='./img/weather.png' />
  </head>

  <body>
        <div class="main-content">
          {{>header}}
          <img class="hello" src='/img/hello.jpg' alt='' />
        </div>
    {{>footer}}
  </body>

</html>